{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}
    <link rel="stylesheet" href="public/css/bootstrap.min.css">

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

<!--- Informations structure -->

    <section class="home py-1 bg-light" id="job_présentation">
        <div class="container-lg">
            <div class="row align-items-center align-content-center">
                <div class="col-md-6 mt-5 mt-md-0">
                   <div class="home-img text-center">
                       <img src="{{ asset('uploads/pdf_file/'~ offer.logoStructure) }}" class="rounded-circle">
                   </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0 order-md-first">
                    <div class="home-text">
                        <p class="text-muted mb-1">{{ offer.localisation }}</p>
                        <h1 class="text-danger text-uppercase fs-1 fw-bold">{{ offer.titre }}</h1>
                        <h2 class="fs-4">{{ offer.nomStructure }}</h2>
                        <p class="mt-4 text-muted">{{ offer.descriptionStructure}} </p>
                    </div>
                </div>
                <div class="col">
                    <div class="home-img text-md-end">
                        {%  set test = 'uploads/pdf_file/' ~ offer.namePdf %}
                        <a class="btn btn-download text-danger" href="{{ asset(test) }}" download="{{ offer.titre }}.pdf">
                            <abbr title="Télécharger l'offre en PDF"><h1><i class="bi bi-file-earmark-pdf-fill"></i></h1></abbr>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr class="my-4">
    <!--- Presentation structure -->

    <section class="about bg-white" id="about">
        <div class="container-lg py-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2 class="fw-bold mb-5">Poste proposé</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="section-title">
                        <h2 class="fw-bold mb-5">Profil recherché</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class ="col-md-6">
                    <div class="about-text">
                        <h3 class="fs-5">Intitulé du poste</h3>
                        <p class="text-muted">{{ offer.intitulePoste }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Description du poste</h3>
                        <p class="text-muted">{{ offer.descriptionPoste }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Missions</h3>
                        <p class="text-muted">{{ offer.missions }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="row">
                            <div class="col-md-6">
                             <h3 class="fs-5">Formation (Diplômes)</h3>
                             <p class="text-muted">{{ offer.formation }}</p>
                            </div>
                              <div class="col-md-6">
                               <h3 class="fs-5">Expérience</h3>
                               <p class="text-muted">{{ offer.experience }}</p>
                             </div>
                        </div>
                    </div>
                    <div class="about-text">
                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="fs-5">Compétences</h3>
                                <p class="text-muted">{{ offer.competences }}</p>
                            </div>
                            <div class="col-md-6">
                                <h3 class="fs-5">Qualités</h3>
                                <p class="text-muted">{{ offer.qualites }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Outils à maitriser</h3>
                        <p class="text-muted">{{ offer.outils }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr class="my-4">

    <!--- Détails du contrat --->

    <section class="about bg-white" id="about">
        <div class="container-lg py-4">
            <div class="row">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2 class="fw-bold mb-5">Details du contrat</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class ="col-md-6">
                    <div class="about-text">
                        <h3 class="fs-5">Type de contrat</h3>
                        <p class="text-muted">{{ offer.typeContrat }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Temps de travail</h3>
                        <p class="text-muted">{{ offer.tempsTravail }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Date de début de contrat</h3>
                        <p class="text-muted">{{ offer.dateDebutContrat|date("d/m/Y") }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Date d'entretien</h3>
                        <p class="text-muted">{{ offer.dateEntretien|date("d/m/Y") }}</p>
                    </div>
                </div>
                <div class ="col-md-6">
                    <div class="about-text">
                        <h3 class="fs-5">Date de publication</h3>
                        <p class="text-muted">{{ offer.datePublication|date("d/m/Y") }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Date limite de candidature</h3>
                        <p class="text-muted">{{ offer.dateArchivage|date("d/m/Y") }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Convention collective</h3>
                        <p class="text-muted">{{ offer.conventionCollective }}</p>
                    </div>
                    <div class="about-text">
                        <h3 class="fs-5">Salaire brut</h3>
                        <p class="text-danger">{{ offer.salaire }}</p>
                    </div>

                </div>

                <hr class="my-4">

                </div>
            </div>
        </div>
    </section>

    <!--- Drag & drop --->
    {% if is_granted('ROLE_CANDIDAT') %}
    <form>
<div class="container">
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Cliquez pour postuler à cette offre
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">Ci-dessous vous pouvez télécharger votre CV et votre lettre de motivation pour cette offre</br>Vous avez la possibilité d'éditer un commentaire</div>

    <section class="about bg-white" id="about">
        <div class="container-lg py-4">
            <div class="row">
                <div class="col-sm-6">
                    <h4>Envoyez votre CV</h4>
                        {{ include('home/draganddrop.html.twig') }}
                </div>
                <div class="col-sm-6">
                    <h4>Envoyez votre lettre de motivation</h4>
                        {{ include('home/draganddrop.html.twig') }}
                </div>
                <div class="mb-3">
                    <label for ="commentaire" class ="form-label">Commentaires</label>
                    <textarea class="form-control" placeholder="..." id="floatingTextarea"></textarea>
                </div>
                <div align="center">
                    <a href="#" class="btn btn-danger px-6 mt-6">Postuler à cette offre</a>
                </div>
            </div>
        </div>
      </section>
     </div>
    </div>
</div>
</div>
    </form>
    {% else %}
        <div align="center">
            <a href="{{ path ('app_login') }}" class="btn btn-danger" >Connecter vous pour pouvoir postuler à cette offre</a>
        </div>
    {% endif %}

    <script src="assets/bootstrap.bundle.min.js"></script>
{% endblock %}
