{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
    <script>
        function showUser(){
            var selectBox = document.getElementById('registration_form_role');
            var userInput = selectBox.options[selectBox.selectedIndex].value;
            console.log("value = " + userInput);
            document.getElementById('formCandidat').style.display='none';
            document.getElementById('formAdminS').style.display='none';

            if (userInput == 'ROLE_CANDIDAT'){
                document.getElementById('formCandidat').style.display='flex';
                document.getElementById('formAdminS').style.display='none';
            }
            else if (userInput == 'ROLE_ADMIN_S'){
                document.getElementById('formCandidat').style.display='none';
                document.getElementById('formAdminS').style.display='flex';
            }
            else if (userInput == 'ROLE_SUPER_ADMIN'){
                document.getElementById('formCandidat').style.display='none';
                document.getElementById('formAdminS').style.display='none';
            }
            return false;
        }
    </script>
<body onload="return showUser()">
<form method="post">
    <div class="col-sm-4 col-xs-12">
        <div class="form-group">
            <h1>Créer un compte</h1>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.role, {'attr': {'onchange': 'return showUser();'}}) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                {{ form_row(registrationForm.confirmPassword) }}
                <div id="formCandidat" class="formCandidat">
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.lastName) }}
                </div>
                <div id="formAdminS" class="formAdminS">
                    {{ form_row(registrationForm.nomStructure) }}
                    {{ form_row(registrationForm.descriptionStructure) }}
                </div>
                {{ form_widget(registrationForm) }}
            <div align="center">
                <button type="submit">S'inscrire</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</form>
</body>
{% endblock %}
