{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
    <script src="scripts/registerSelect.js"></script>
<body onload="return showUser()">
<form method="post">
    <div class="col-sm-4 col-xs-12">
        <div class="form-group">
            <h1>Créer un compte</h1>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.role, {'attr': {'onchange': 'return showUser();'}}) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                {{ form_row(registrationForm.confirmPassword) }}
                <div id="formCandidat" class="formCandidat">
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.lastName) }}
                </div>
                <div id="formAdminS" class="formAdminS">
                    {{ form_row(registrationForm.nomStructure) }}
                    {{ form_row(registrationForm.descriptionStructure) }}
                </div>
                {{ form_widget(registrationForm) }}
            <div align="center">
                <button type="submit">Créer l'utilisateur</button>
            </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</form>
</body>
{% endblock %}
